body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}

a:link {
  text-decoration: none;
  color: #3d3d3d;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: #3d3d3d;
}
a:hover {
  text-decoration: none;
  color: #858585;
}
a:active {
  text-decoration: none;
  color: #1a1a1a;
}

.homeimage{
  background: url('../assets/hero.jpg');
  background-size: cover;
  position: relative;
  background-color: rgb(240, 240, 240);
  height: 200px;
  width: 100vw;
}

.image_name {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  white-space: nowrap;
}

.image_name_subtitle {
  font-size: 16px;
  font-weight: 200;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-85%, -10%);
}

.mobile_skills_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

.mobile_skills {
  font-size: 75px;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.mobile_skills i {
  font-size: 45px;
}

.skills_container {
  display: none;
  width: 100vw;
}

.social_media_icon {
  height: 25px;
  width: 25px;
}

.skills {
  font-size: 75px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
  /*background-color: #efefef;*/
}

.skills_img {
  height: 75px;
  width: 75px;
}

.footer {
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.projects_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects_header {
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-size: 18px;
  color: #3d3d3d;
  font-weight: 300;
  margin: 10px 0;
}

.project_link {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project_img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
  margin-bottom: 10px;

}
.project_body {
  background-color: rgb(250, 250, 250);
}

.project_name {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #3d3d3d;
  padding-top: 10px;
}

.project_tagline {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  color: #3d3d3d;
  margin-top: 7px;
  margin-bottom: 10px;
}

.project_details {
  padding-bottom: 10px;
}

.project_tech {
  margin: 0px 15px 15px 15px;
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  color: #3d3d3d;
}

.project_text {
  line-height: 20px;
  text-align: justify;
  font-weight: 300;
  color: #3d3d3d;
  margin: 15px;
}

.project_walkthrough {
  display: flex;
  height: auto;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px rgba(61, 61, 61, 0.2);
}

.project_icons {
  display: flex;
  justify-content: center;
}

.headshot_container {
  display: flex;
  justify-content: center;
}

.headshot_img {
  background: url('../assets/headshot3.jpg') no-repeat center;
  height: 250px;
  width: 300px;
  background-size: cover;
}

.headshot_header {
  font-size: 32px;
}

.bio_text {
  line-height: 20px;
  text-align: justify;
  font-weight: 300;
  margin: 15px;
}

.bio_header {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.contact_container {
  height: 200px;
  width: 100vw;
  background-color: #929292;
}


@media (min-width: 400px) {
  .homeimage {
    height: 250px;
  }
  .image_name {
    font-size: 36px;
  }
  .image_name_subtitle {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .homeimage {
    height: 250px;
  }
  .image_name {
    font-size: 45px;
  }
  .image_name_subtitle {
    font-size: 24px;
  }

}

@media (min-width: 768px) {
  .homeimage {
    height: 300px;
  }
  .image_name {
    font-size: 64px;
  }
  .image_name_subtitle {
    font-size: 28px;
    transform: translate(-100%, -10%);
  }
  .mobile_skills_container {
    display: none;
  }
  .skills_container {
    display: list-item;
    background-color: rgb(250, 250, 250);
    padding-bottom: 15px;
  }
  .project_text {
    margin: 25px
  }
  .project_link {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .headshot_img {
    height: 100%;
    width: 400px;
  }
  .bio_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .bio_text_paragraph {
    width: 350px;
  }
  .bio_text {
    margin: 15px 0 15px 15px;
  }
}

@media (min-width: 820px){
  .headshot_img {
    height: 100%;
    width: 425px;
  }
}

@media (min-width: 1024px) {
  .project_details {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .project_walkthrough {
  width: 600px;
  }
  .project_text {
    width: 300px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .project_tagline {
    margin-bottom: 15px;
  }
}

@media (min-width: 1250px) {
  .project_walkthrough {
    width: 800px;
  }
  .project_text {
    margin-left: 50px;
  }
}
